.item-card-wrapper {
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    margin-left: 50px;
}

@media screen and (max-width: 480px) {
    .item-card-wrapper {
        flex-direction: column;
        margin-right: 20px;
        margin-left: 20px;
    }
}

.icon-wrapper {
    position: absolute;
    top: -15px;
    left: -15px;
}

.item-card-wrapper-border-1 {
    border: 1px dashed #E2E2E3;
}

.item-card-wrapper-border-2 {
    border: 1px dashed #54B84E;
}

.item-card-wrapper-border-3 {
    border: 1px solid #54B84E;
}